body{
    font-family: "Vollkorn", serif;
    position: relative;
    background-image: url(skysunset.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
video#bgvideo{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
}
.container{
    max-width: 1000px;
}
#home{
    color: black;
    background-color: transparent;
    padding-top: 15%;
    text-align: center;
    text-shadow: 1px 1px white;
}
#home h1, #home h2{
    margin-bottom: 30px;
}
#home .btn{
    background-color: rgba( 56, 244, 222, 0.408 );
    color: aliceblue;
    text-shadow: none;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}
#home .btn:hover{
    background-color: rgba( 56, 244, 222, 0.708 );
}
#about{
    color: black;
    text-align: center;
    padding-top: 100px;
    
}
#about h2{
    font-weight: bold;
    text-shadow: 1px 1px white;
}
#about p{
    font-size: 17px;
    margin-bottom: 30px;
}
#myCarousel{
    background: rgba( 25, 255, 25, 0.253 );
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#myCarousel img{
    height: 320px;
    margin: 0 auto;
    padding: 20px 0px;
}
.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
    height: 200px;
}
#promise{
    padding-top: 100px;
}
#myCarousel h2{
    
}
.aboutImage{
    height: 100px;  
}
/*style footer*/
.footer{
    background-color: rgba( 56, 244, 222, 0.408 );
    color: white;
    margin-top: 100px;
    height: 50px;
    padding: 15px;
}
.navbar {
  background-color: rgba( 25, 168, 137, 0.896 );
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}
.navbar .navbar-text {
  color: #c9c9c9;
}
.navbar .active{
    background: #67cc09;
    color: black;
}

.navbar .navbar-text a {
  color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffffff; 
}
.navbar .navbar-nav .nav-link {
  color: #c9c9c9;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .active {
    color: #0013c6;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff;
  background-color: #181ed8;
}
.navbar .navbar-toggler {
  border-color: #181ed8;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: transparent;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #c9c9c9;
}
.navbar .navbar-link {
  color: #c9c9c9;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c9c9c9;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #181ed8;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c9c9c9;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #181ed8;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c9c9c9;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #181ed8;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c9c9c9;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #181ed8;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #c9c9c9;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #181ed8;
}
/*media queries*/
@media (max-width:768px){
/*    carousel style*/
    #myCarousel h2{
        font-size: 22px;
    }
    #myCarousel img{
        height: 220px;
    }
    .carousel-caption{
        height: 150px 20px;
        padding: 30px 10px 10px 10px;
    }
/*    navbar style*/
    .navbar-brand{
        font-size: 17px;
    }
/* background style*/
    video#bgvideo{
        display: none;
    }
    
}
@media (max-width:400px){
/*    carousel style*/
    #home, #about{
        color:aqua;
    }
    #myCarousel h2{
        font-size: 15px;
    }
    #myCarousel img{
        height: 150px;
    }
    .carousel-caption{
        height: 130px;
        padding: 20px 5px 5px 5px;
    }
/*    navbar style*/
    .navbar-brand{
        font-size: 12px;
    }
    .footer{
        font-size: 12px;
    }

}