body{
    padding-top: 80px;
    background-image: url(under-construction.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}